PORT=3002

SUPABASE_URL=https://your-project-id.supabase.co

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOi...
FRONTEND_URL=http://localhost:3000

CLERK_SECRET_KEY=sk_test_...
CLERK_JWT_KEY="-----BEGIN PUBLIC KEY-----..."
CLERK_WEBHOOK_SECRET=whsec_...
CLERK_AUTHORIZED_PARTIES=http://localhost:3000,https://him-virasat.vercel.app
